# Global SSH Config Options
AddKeysToAgent yes
ForwardAgent yes

{%- if not Hosts | selectattr("Name", "equalto", "github.com") | list %}
Host github.com
    # Hostname can be an IP address
    HostName github.com
    User git
    IdentityFile ~/.ssh/id_syslq
    Port 22
    PreferredAuthentications publickey
    IdentitiesOnly yes
{% endif %}

{% for host in Hosts %}
Host {{ host.Name }}
    HostName {{ host.HostName }}
    User {{ host.User }}
    IdentityFile {{ host.IdentityFile }}
    Port {{ host.Port }}
    PreferredAuthentications {{ host.PreferredAuthentications }}
    IdentitiesOnly {{ host.IdentitiesOnly }}
{% endfor %}

